.projects-container {
  /* margin-top: 10%; */
  width:80%;
  height:50%;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 100vh;
  /* margin-left: 20px; */
  background-color: black;
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.project-slide {
  /* border:2px solid white; */
  
  position: relative;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

/* .project-slide:hover {
  transform: scale(1.05);
} */

.project-image {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  max-width: 300px; 
  margin: 0 auto;
  border-radius: 8px;
}

/* Overlay Styles */
.project-overlay {
  /* border:2px solid white; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 70, 67, 0.7);
  border: 3px solid rgb(137, 244, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.project-slide:hover .project-overlay {
  opacity: 1;
}

/* Overlay content */
.overlay-content {
  color: white;
  text-align: center;
}

.overlay-content h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.overlay-content a {
  color: #fff;
  background-color: #007bff;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.overlay-content a:hover {
  background-color: #0056b3;
}

.overlay-content a:first-of-type {
  margin-right: 10px;
}

/* .tecnologies{
 display: flex;
  }  */

/* Responsive Design */
/* Medium screens (Tablets) */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  .project-slide h3 {
    font-size: 1.25rem;
  }

  .project-slide p {
    font-size: 0.9rem;
  }

  .project-image {
    height:180px;
    max-width: 250px;
    /* Smaller images on tablet */
  }
}

/* Small screens (Mobile phones) */
@media (max-width: 480px) {
  .projects-container {
    padding: 20px 0;
    /* Adjust padding for smaller screens */
    min-height: 100vh;
  }

  h2 {
    font-size: 1.2rem;
  }

  .project-slide {
    padding: 10px;
  }

  .project-image {
    height:150px;
    max-width: 100%;
    /* Make images fluid for smaller screens */
  }

  .overlay-content h3 {
    font-size: 1.2rem;
  }

  .overlay-content a {
    padding: 8px 12px;
  }
}